//--font-family-sans-serif
//--font-family-monospace
//VARIABLE COLOR
$color-black-0:#000000;
$color-black-1:#141414;
$color-white-0:#dedede;
$color-white-1:#f5f5f5;
$color-gray-1:#636363;
$color-blue-0:#00adef;
$color-blue-1:#0088c6;
$color-blue-2:#4dc6f4;
//FONT-SIZE
$fs-0:14px; //font mặc định
$fs-1:16px;
$fs-2:24px;
$fs-3:32px;
//MARGIN
$mg-0:8px;
$mg-1:16px;
$mg-2:40px;
//FONT-WEIGHT
$fw-normal:normal;
$fw-bold-0:400;
$fw-bold:bold;
//LINE-HEIGHT
$line-height-0:22px;