.myHeader{
    background-color: #000000;
    padding-bottom: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 50;
    transition: top 0.5s;
}

.myHeader .container-fluid{
    max-width: 1440px;
}

.myHeader__top ul{
    list-style: none;
    text-align: right;
}

.myHeader__top ul li{
    text-decoration: none;
    display: inline;
    
}

.myHeader__top ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin: 0 10px;
    letter-spacing: 0.5px;
    position: relative;
}

.myHeader__top-icon::before{
    content: 'i';
    border: 2px solid white;
    display: inline-block;
    width: 16px;
    height: 16px;
    font-weight: 400;
    text-align: center;
    position: absolute;
    left: -16%;
    top: 50%;
    transform: translateY(-50%);
    line-height: 1;
    font-size: 13px;
}

.myHeader__top li:hover a, .myHeader__top li:hover .myHeader__top-icon::before{
    color: #00adef;
    border-color: #00adef;
}

.myHeader__bottom .imgLogo{
  width: 64px;
  height: 64px;
  padding: 0;
  margin: 0;
}

.myHeader .myHeader__bottom .navbar-collapse{
    margin-top: 24px;
}

.myHeader .myHeader__bottom .nav-link{
    display: inline-block;
    color: white;
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: 400;
    margin: 0 20px;
    width: auto;
    padding: 0;
}

.myHeader .myHeader__bottom .nav-item:hover .nav-link{
    color: #00adef;
}

.myHeader .myHeader__bottom .navbar-light .navbar-toggler{
    background-color: #000000;
}

.myHeader .myHeader__bottom .navbar-light .navbar-toggler:focus{
    outline: none;
}

.myHeader .myHeader__bottom .navbar-light .navbar-toggler i{
    font-size: 18px;
    margin-top: 24px;
}

.myHeader .myHeader__bottom .navbar-light .fa-search:hover,
.myHeader .myHeader__bottom .navbar-light .navbar-toggler .fa-bars:hover
{
    color: #00adef !important;
}


/* Reponsive */
@media screen and (max-width: 1200px){
    .myHeader__bottom .navbar-nav{
        text-align: center !important;
    }

    .myHeader__bottom .navbar-nav .search__mobie{
        display: none;
    }

    .myHeader .myHeader__bottom .nav-link{
        display: inline-block;
        color: white;
        font-size: 24px;
        letter-spacing: 0.5px;
        font-weight: 400;
        margin: 10px 0;
        width: auto;
        padding: 0;
    }
}

@media screen and (max-width:768px){
    .myHeader .myHeader__top ul li:nth-child(1), .myHeader .myHeader__top ul li:nth-child(2){
        display: none;
    }

    .myHeader__bottom .imgLogo{
        width: 45px;
        height: 45px;
        padding: 0;
        margin: 0;
      }

      .myHeader__bottom .imgBrand{
          width: 100px;
          margin-left: 30px !important;
          margin-top: 5px !important;
      }
}