.brand__logo{
    justify-content: space-around;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    .logo__item{
        width: 170px;
        height: 70px;
        vertical-align: middle;
    }
}